fastapi
uvicorn[standard]

# Database
sqlalchemy
sqlmodel
psycopg2-binary        # use this if PostgreSQL
# sqlite is built-in, no package needed

# Authentication & Security
python-jose[cryptography]
python-multipart      # required for file uploads

# Environment variables
python-dotenv

# ImageKit SDK
imagekitio

# Validation & utilities
pydantic
pydantic-settings
passlib==1.7.4
bcrypt==4.0.1
requests
email-validator
