.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 5px;
    row-gap: 30px;
    justify-items: center;
    align-items: center;
    margin: auto;
    width: 90%;
}


@media (max-width: 375px){
}

@media (min-width: 570px) { 
    /* .menu{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } */
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 600px) and (max-width: 767.98px) { 
    .menu{
        /* width: 80%; */
        /* margin: auto; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 880px) { 
    .menu{
        /* width: 600px; */
        /* width: 80%; */
        /* margin: auto; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
}
    
    /* Large devices (desktops, ≥992px) */
@media (min-width: 881px) and (max-width: 1099px) {
    .menu{
        /* width: 800px; */
        /* margin: auto; */
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1100px) {
    .menu{
        width: 90%;
        margin: auto;
        margin-top: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1400px) {
    .menu{
        width: 90%;
        margin: auto;
        margin-top: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
