.category{
    width: 100%;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
}

/* .category-heading{
} */

.category-list{
    display: flex;
    background-color: rgba(0, 0, 0, 0.812);
    height: 130px;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    text-align: center;
    margin: 15px 0;
    padding: 10px 20px;
    /* padding-top: 10px; */
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.category-list::-webkit-scrollbar {
    display: none;
}

.category-type {
    cursor: pointer;
    /* border: 1px solid red; */
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    width: 40vw;
    padding: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.category-type-image {
    border: 3px solid rgb(100, 100, 100);
    border-radius: 5px;
    position: inherit;
    display: block;
    object-fit: cover;  /* crop to fit */
    width: 50px;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.category-type-name{
    font-size: 1rem;
}

.active{
    border: 3px solid cyan;
    /* box-sizing: content-box; */
}

@media (max-width: 575.98px) { 
    
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 550px) and (max-width: 767.98px) { 

}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1130px) { 
    .category-list{
        height: 150px;
    }
    .category-type{
        height: 130px;
    }
    .category-type-image{
        width: 72px;
    }
}

@media (min-width: 1500px) {
    .category-heading{
        font-size: 4rem;
    }
    .category-list{
        height: 230px;
        justify-content: flex-start;
        gap: 25px;
    }
    .category-type{
        width: 150px;
        height: 190px;
    }
    .category-type-name{
        font-size: 1.2rem;
    }
    .category-type-image{
        height: 90%;
        width: 90%;
    }
}