.category{
    width: 100%;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
}

/* .category-heading{
} */

.category-list{
    display: flex;
    background-color: rgba(0, 0, 0, 0.812);
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    text-align: center;
    margin: 15px 0;
    padding: 10px 20px;
    /* padding-top: 10px; */
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.category-list::-webkit-scrollbar {
    display: none;
}

.category-type {
    /* border: 1px solid red; */
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    width: 30vw;    
    padding: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-type-image {
    border: 3px solid rgb(100, 100, 100);
    border-radius: 5px;
    position: inherit;
    display: block;
    width: 20vw;
    height: 12vh;
    object-fit: cover;  /* crop to fit */
}

.category-type-name{
    font-size: 1.2rem;
}