.header {
    position: relative;
    background-color: rgb(0, 0, 0); /* fallback color */
    margin: 17dvw auto 0px;
    width: 100%;
    height: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    overflow: hidden; /* optional: keeps pseudo-element contained */
    z-index: 1;
}

.header::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('../../assets/banner.png') no-repeat center center;
    background-size: contain; /* or 'contain' if you prefer */
    opacity: 0.6; /* set desired opacity */
    z-index: -1;
}

.header h1 {
    font-size: 2rem;
    z-index: 1; /* ensures it's above the background */
    text-align: center;
    width: 70%;
    color: white;
    font-weight: 800;
}

.header p {
    /* border: 1px solid red; */
    font-size: 0.8rem;
    z-index: 1;
    color: white;
    width: 70%;
    text-align: center;
}

.header-btn {
    position: relative;
    top: 10px;
    height: 10px;
}


@media (max-width: 575.98px) { 
    
}

/* Small devices (landscape phones, ≥576px) */
@media (min-width: 550px) and (max-width: 767.98px) { 
    .header{
        margin-top: 9dvh;
    }
    .header h1{
        font-size: 2.5rem;
    }
}

/* Medium devices (tablets, ≥768px) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .header{
        margin-top: 8dvh;
    }
    .header h1{
        font-size: 3rem;
    }
    .header p{
        width: 50%;
        font-size: 1rem;
    }
}

/* Large devices (desktops, ≥992px) */
@media (min-width: 992px) and (max-width: 1199px) {
    .header{
        margin-top: 7dvh;
    }
    .header h1{
        font-size: 4rem;
    }
    .header p{
        font-size: 1.3rem;
    }
}

/* Extra large devices (large desktops, ≥1200px) */
@media (min-width: 1200px) { 
    .header{
        width: 70%;
        height: 70dvh;
        margin-top: 9dvh;
    }
    .header::before{
        background-size: cover;
    }
    .header h1{
        font-size: 3rem;
    }
    .header p{
        font-size: 1.5rem;
    }
}

@media (min-width: 1500px) {
    .header{
        width: 80%;
        height: 90dvh;
        margin-top: 9vh;
    }
}