.header {
  margin: 30px auto;
  position: relative;
  border-radius: 20px;
  width: 95%;
  max-width: 1400px;
  overflow: hidden;
}

.header-img {
  width: 100%;
  opacity: 95%;
  height: auto;
  min-height: 300px;
  object-fit: cover;
  display: block;
}

.header-contents {
  position: absolute;
  bottom: 25%;
  left: 6vw;
  max-width: 50%;
  animation: fadeIn 2s;
}

.header-contents h2 {
  font-weight: 600;
  color: white;
  font-size: max(4.5vw, 22px);
  margin-bottom: 20px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.header-contents p {
  color: white;
  font-size: max(1.2vw, 14px);
  margin-bottom: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

.header-contents button {
  color: #49557e;
  font-weight: 600;
  background-color: white;
  padding: 1vw 2.3vw;
  min-padding: 10px 20px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: max(1vw, 13px);
  transition: 0.3s;
}

.header-contents button:hover {
  background-color: #f2f2f2;
  transform: scale(1.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 750px) {
  .header-contents {
    max-width: 80%;
    left: 30px;
  }
}
